@font-face {
  font-family: "Bitter";
  font-display: swap;
  src: url("../fonts/Bitter-SemiBold.woff2") format("woff2"), url("../fonts/Bitter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Bitter";
  font-display: swap;
  src: url("../fonts/Bitter-Regular.woff2") format("woff2"), url("../fonts/Bitter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Bitter";
  font-display: swap;
  src: url("../fonts/Bitter-Medium.woff2") format("woff2"), url("../fonts/Bitter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Semibold.woff2") format("woff2"), url("../fonts/Gilroy-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  font-display: swap;
  src: url("../fonts/Oswald-SemiBold.woff2") format("woff2"), url("../fonts/Oswald-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  font-display: swap;
  src: url("../fonts/Oswald-Regular.woff2") format("woff2"), url("../fonts/Oswald-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  font-display: swap;
  src: url("../fonts/Oswald-Medium.woff2") format("woff2"), url("../fonts/Oswald-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Bitter', sans-serif;
}

body::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  /* ширина scrollbar */
}

body::-webkit-scrollbar-track {
  background-color: #dfdcdc;
  /* цвет дорожки */
}

body::-webkit-scrollbar-thumb {
  background-color: green;
  /* цвет плашки */
  border-radius: 20px;
  /* закругления плашки */
}

.body {
  margin: 0;
  padding: 5px 15px;
}

.title-reset {
  margin: 0;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}


.red {
  color: red;
}

.blue {
  color: blue;
}

.green {
  color: green;
}

.orange {
  color: orange;
}

.btn-reset {
  background-color: transparent;
  cursor: pointer;
  padding: 0px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
}

.descr-reset {
  margin: 0;
}

.container {
  position: relative;
  max-width: 1170px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  z-index: 1;
}

.dot-eko__container {
  position: relative;
}


.tables {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


.table {
  margin-top: 15px;
  margin-right: 15px;
  width: 460px;
  height: fit-content;
  text-align: left;
  border-collapse: collapse;
  border-spacing: 5px;
  background-color: #e7eef4;
  box-shadow: 0 0 5px 0 black;
}

.table__title {
  margin-bottom: 10px;
  text-align: center;
  font-family: 'Bitter', sans-serif;
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
  color: green;
}

.table__tr {
  height: 30px;
  border: 1px solid black;
}

.table__th {
  padding: 5px 10px;
  text-align: center;
  font-family: 'Bitter', sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 800;
  color: black;
}

.table__td {
  letter-spacing: 1px;
  text-align: center;
  font-family: 'Bitter', sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  color: black;
}

.table__left {
  padding: 10px;
  text-align: left;
}

.table__right {
  color: green;
  font-weight: 600;
}

.table__th:not(:last-child),
.table__td:not(:last-child) {
  border-right: 1px solid black;
}

.current-param {
  margin-right: 15px;
  background-color: #e7eef4;
  box-shadow: 0 0 5px 1px black;

  /* box-shadow: 2px 2px 10px rgb(0 0 0 / 20%); */

  border-radius: 5px;
}

.current-param__title {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  margin-bottom: 0;
  text-align: center;
  font-family: 'Bitter', sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: green;
}

.current-param__title-span {
  font-family: 'Bitter', sans-serif;
  font-size: 22px;
  line-height: 30px;
  font-weight: 600;
  color: black;
}

.current-param__box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.current-param__date {
  margin-right: 20px;
  font-family: 'Bitter', sans-serif;
  font-size: 22px;
  line-height: 30px;
  font-weight: 600;
  color: black;
}

.current-param__time {
  font-family: 'Bitter', sans-serif;
  font-size: 22px;
  line-height: 30px;
  font-weight: 600;
  color: black;
}

.mnemo__modal-background {
  position: fixed;
  top: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  z-index: -3;
  cursor: default;
}

.mnemo__modal-background.enabled {
  cursor: pointer;
  opacity: 1;
  z-index: 3;
  transition: opacity .5s ease-in-out;
}


.mnemo__modal-active {
  padding: 20px;

  position: absolute;
  max-width: 780px;
  width: 100%;
  /* height: 50px; */
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.6) 0px 3px 6px, rgba(0, 0, 0, 0.7) 0px 3px 6px;
  cursor: default;
}

.mnemo__modal-title {
  padding-bottom: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid gray;
}

.mnemo__modal-title-text {
  position: relative;
  font-size: 28px;
  font-family: 'Bitter', sans-serif;
  line-height: 24px;
  color: black;
  font-weight: 600;
  text-decoration: none;
}

.mnemo__modal-window {
  max-height: 600px;
  padding-top: 20px;
  overflow-y: auto;
  height: 80%;
}

.mnemo__modal-close {
  position: absolute;
  top: 2px;
  right: 5px;
  z-index: 5;
  width: 20px;
  height: 20px;
  transition: opacity .3s ease-in-out;
  cursor: pointer;
}

.mnemo__modal-close:hover {
  opacity: 0.5;
}

.mnemo__modal-close:active {
  opacity: 0.5;
}

.mnemo__param-box--btns {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.mnemo__param-box--btn {
  padding: 5px;
  font-size: 16px;
  line-height: 23px;
  font-weight: 600;
  color: green;
  border: 1px solid green;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.mnemo__param-box--btn:hover {
  color: white;
  background-color: green;
}

.mnemo__param-box--btn:active {
  color: white;
  background-color: green;
}


.mnemo__modal-report-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.mnemo__modal-report-header {
  background-color: green;
  color: white;
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

.mnemo__modal-report-table th,
.mnemo__modal-report-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.mnemo__modal-report-table tr:hover {
  background-color: #ddd;
}

.mnemo__modal-report-table tr:active {
  background-color: #ddd;
}